:root {
    --font-family: 'Roboto', 'Helvetica', sans-serif;

    --dark-bg-color: #1F2937;

    --hero-main-text-size: 48px;
    --hero-main-text-color: #F9FAF8;
    --hero-main-text-weight: 900;

    --hero-sec-text-size: 18px;
    --hero-sec-text-color: #E5E7EB;

    --header-logo-text-size: 24px;
    --header-logo-text-color: #F9FAF8; /* Same as --hero-main-text-color */

    --button-color: #3882F6;

    --information-header-text-size: 36px;
    --information-header-text-color: #1F2937;
    --information-header-text-weight: 900;

    --quote-section-bg-color: #E5E7EB;
    --quote-text-size: 36px;
    --quote-text-weight: light;
    --quote-text-style: italic;
    --quote-text-color: #1F2937;
}

body {
    font-family: var(--font-family);
    box-sizing: border-box;
    margin: 0;
}

.header {
    align-items: center;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header__logo {
    font-weight: bold;
    font-size: var(--header-logo-text-size);
}

.header__nav-list {
    display: flex;
    align-items: center;
    /* font-size: calc(--hero-sec-text-size); */
    gap: 1.5rem;
}

.header,
.hero,
.header__nav-link,
.footer {
    background-color: var(--dark-bg-color);
    color: var(--hero-main-text-color);
}

.header,
.hero,
.footer {
    box-shadow: 0 0 0 100vmax var(--dark-bg-color);
    clip-path: inset(0 -100vmax); 
}

.hero {
    display: flex;
    align-items: center;
    padding: 6rem 0;
    /* outline: 1px solid red; */
}

.hero__body {
    /* padding: 3rem 0; */
    /* outline: 1px solid red; */
    padding: 1rem 0;
}

.hero__btn {
    color: var(--hero-main-text-color);
    background-color: var(--button-color);
    border-radius: 5px;
    /* line-height: 2; */
    padding: 8px 24px;

}

.hero__title {
    font-size: var(--hero-main-text-size);
    margin: 0 0 8px 0;
    line-height: 1;
}

.hero__img {
    margin-left: 1rem;
}

.header__nav-list {
    list-style: none;
}

.header__nav-link,
.hero__btn {
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: space-between;
}

/* END TOP BLUE SECTION */

.quote {
    background-color: var(--quote-section-bg-color);
    box-shadow: 0 0 0 100vmax var(--quote-section-bg-color);
    clip-path: inset(0 -100vmax); 
}

.main {
    flex: 1;
}

